<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="1.50.5" targetFramework="net471" />
  <package id="Dapper.Contrib" version="1.50.5" targetFramework="net471" />
  <package id="MySql.Data" version="6.9.12" targetFramework="net471" />
  <package id="ServiceStack.Common" version="5.1.0" targetFramework="net471" />
  <package id="ServiceStack.Interfaces" version="5.1.0" targetFramework="net471" />
  <package id="ServiceStack.OrmLite" version="5.1.0" targetFramework="net471" />
  <package id="ServiceStack.OrmLite.MySql" version="5.1.0" targetFramework="net471" />
  <package id="ServiceStack.Text" version="5.1.0" targetFramework="net471" />
</packages>